* {
    font-family: "Segoe UI";
    font-weight: 20;
    box-sizing: border-box;
}

body {
    background: rgb(29, 29, 29);
    transition: 1s;
}
h1 {
    text-align: center;
    collapse: #fff;
}
.wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button {
    margin-bottom: 5px;
    padding: 8px ;
    background-color: #fff;
    color: #000;
    border: none;
    font-size: 1em;
    margin-top: 1%;
    outline: none;
}
button:hover {
    background: rgb(45, 50, 102);
}