* {
    font-family: "Segoe UI";
    font-weight: 20;
    box-sizing: border-box;
}

body {
    transition: 1s;
}
h1 {
    text-align: center;
}
.wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button {
    margin-bottom: 5px;
    padding: 8px ;
    background-color: #729efc;
    color: #ffffff;
    border: 0px;
    cursor: pointer;
}
button:hover {
    background: rgb(45, 50, 102);
}